@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kay+Pho+Du:wght@400;500;600;700&family=Sofadi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}

.header-background {
  height: 300px;
  position: relative;
}

.img-header {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: blur(3px);
}

.title-comics {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.letter-title {
  display: flex;
  letter-spacing: 10px;
  font-weight: bold;
  color: wheat;
  font-family: "Bangers";
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  line-height: 70px;
  margin: 0;
  padding: 0 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}

.letter-title:hover {
  transform: rotateY(360deg);
  animation: rotar3d 2s;
}

@keyframes rotar3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.comic-principal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(244, 213, 177, 1) 0%,
    rgba(250, 254, 221, 1) 35%,
    rgba(240, 214, 128, 1) 100%
  );
}

.search-title {
  font-weight: 600;
  padding: 50px;
  font-size: 30px;
}

.container-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  transition: color 0.3s ease-in-out;
}

.input-search-container:not(.no-change-color):hover {
  color: #902209;
}

#input-search-comic {
  height: 35px;
  margin-left: 5px;
  padding: 22px 8px;
  width: 90%;
  border-bottom: solid 2px black;
  background: rgb(244, 213, 177);
  background: linear-gradient(
    90deg,
    rgba(244, 213, 177, 1) 0%,
    rgba(250, 254, 221, 1) 35%
  );
  font-size: 25px;
  outline: none;
}

#input-search-comic:hover {
  border-color: #f39913;
  transition: border-color 0.3s ease-in-out;
}

#input-search-comic:focus {
  border: 1px solid #902209;
}

.filter-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filter-container:hover {
  color: black;
}

#sort-type {
  margin-right: 30px;
}

#sort-order {
  margin-right: 40px;
}

.sort-gral {
  font-size: 18px;
  padding: 6px;
  background-color: whitesmoke;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}

.sort-gral:hover {
  color: orangered;
}

label {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: rgb(0, 0, 0);
  transform: translateX(-5px);
  transition: transform 0.3s ease-in-out;
}

label:hover::after {
  width: 100%;
  transform: translateX(0);
}

.btn-search {
  font-size: 22px;
  padding: 10px 15px;
  margin-right: 8px;
  color: white;
  font-weight: bolder;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transition: transform 0.3s ease-in-out;
}

.btn-search:hover {
  transform: scale(1.1);
}

.btn-search:active {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.total-results {
  margin-left: 55px;
  font-size: 18px;
  color: grey;
  font-weight: 600;
}

.footer-comic {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {
  width: 11px; 
  height: 11px; /
}

::-webkit-scrollbar-track {
  background: #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background-color: #f08c00; 
  border-radius: 10px; 
  border: 1px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c2770f;
}
